/* styles.css */
body {
  font-family: Serif,  Georgia;

  background-color: #f3ecde;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-box {
  padding: 20px;
}

.form-box h2 {
  text-align: center;
  color: #191a21;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #191a21;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: Serif , Merriweather;
}

.btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, yellow, orange);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Caveat', cursive;
  font-size: 18px;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

p {
  text-align: center;
}

a {
  color: orange;
  cursor: pointer;
}

@media (max-width: 600px) {
  .form-container {
      width: 95%;
  }
}
